# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src

# Python
*.pyc
__pycache__
build/
.tox
pybuild
snowfakery.egg-info
dist/
docs/api/
docs/_build/
.eggs/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings
.swp

# Misc
.DS_Store

.idea/
.tox/
tags
.vscode/
.cache/
.coverage
.python-version
selenium-screenshot-*
log.html
report.html
output.xml
geckodriver.log
**/.sfdx
htmlcov/
.pytest_cache/
pip-wheel-metadata
.mypy_cache/
/docs/_build
*~
.cci
results_junit.xml
test_results.json
